[remote "origin"]
    prune = true
[core]
    editor = gvim
[alias]
    st = status
    co = checkout
    df = diff -w -W
    lg = log -p
    p = push -v
    c = commit -v -n -m
    cm = commit -a -v -n
    conflict = diff --name-only --diff-filter=U
