[remote "origin"]
        prune = true
[core]
        editor = vim
[alias]
        st = status
        co = checkout
        df = diff
        lg = log -p
        p = push
        c = commit -m
        conflict = diff --name-only --diff-filter=U 
