[user]
	name = User
	email = xxxx@example.com
	signingkey = XXXXXX
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
	gpgsign = true
[remote "origin"]
	prune = true
[push]
	autoSetupRemote = true
[alias]
	st = status
	co = checkout
	df = diff -w
	lg = log -p
	p = push -v
	c = commit -v -n -m
	cm = commit -a -v -n
	conflict = diff --name-only --diff-filter=U
